extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ben Carlson

        p.lead.text-light
          | Aspiring Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have complete the Treehouse TechDegree in Front-End Web Development and I am currently progress through the second half of the Full Stack TechDegree from Treehouse.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
       
        ul
          li HTML + CSS
          li Javascript
          li JQuery
          li Express
          li Git + Github
          li Node
          li Bootstrap
          li Peer Reviews
        h6 Contact Info


        ul
          li 555-555-1234
          li bcarlso1@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/ben-carlson-57193a135') LinkedIn
        a.button.expanded(href='https://github.com/bcarlso1/') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  