extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Ben C's Javascript Portfolio Page
      p.lead.text-light
        | A collection of front-end javascript projects displayed using Node, Express, and Pug
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

    //- testing access to json
    each project in projects
      li= project
    //- ul 
      each color in colors
        li= color
    //- h2= prompt
    //- .cell
        a(href='#{projectLink}')
        img.thumbnail(src='#{projectImage}')
        h5 = project_name
        
