extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
          //- variable for title from app.js
        h1= title
        p.lead.text-light= detail  

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
            //- each loop add each item from techs variable
          each tech in techs
            li= tech

          //- links populated from variables
        a.button.expanded(href= livelink) Live Demo
        a.button.expanded(href= gitlink) GitHub Repo
    
    img.image(src= image2)
